- name: Run Chrome container
  docker_container:
    image: selenium/node-chrome:latest
    state: started
    recreate: yes
    env:
      HUB_HOST: selenium
      HUB_PORT: 4444
    networks:
      - name: backend_network
