
.card-header {
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.top-10 {
  margin-top: 10px;
}

.top-50 {
  margin-top: 50px;
}

.page-item {
  &.active {
    .page-link {
      background-color: #343a40;
      border-color: #343a40;
    }
  }
}

.alert-primary {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 600px;
  z-index: 9999;
  background-color: #9d3a3a;
  border-color: white;
  color: white;
  opacity: 0.7;
}

.badge-primary {
  background-color: #343a40;
  border-color: #343a40;
  color: white;
  &:hover {
    color: #9e1d1d;
    background-color: white;
  }
}

.badge-primary-reversed {
  background-color: white;
  color: #343a40;
  &:hover {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
  }
}


.btn-primary{
  background-color: #343a40;
  border-color: #343a40;
  color: white;
  &:hover {
    color: #343a40;
    background-color: white;
    border-color: #343a40;
  }
}


.btn-primary-reversed {
  background-color: white;
  border-color: #343a40;
  color: #343a40;
  &.active {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
  }
  &:hover {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
  }
}
